@import './fonts.scss';
@import './variables';
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body {
    font-family: 'Mont';
}

.container {
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;
}

@import './_albolck/all_blocks.scss';